{% extends 'admin.html.twig' %}

{% block title %}{{ namepage }}{% endblock %}

                {% block event %}
                    <a href="{{ path('AdminRating') }}"
                       class="list-group-item list-group-item-action waves-effect active">
                        <i class="fa fa-star mr-3"></i>{{ namepage }}</a>
                {% endblock %}

{% block namepage %}
    <span>{{ namepage }}</span>
{% endblock %}

{% block body %}

    <div class="card mb-3 wow fadeIn" style="width: 55%; margin: auto;">
        <div class="card-body">
            <h1 align="center"><strong>{{ namepage }}</strong></h1>

            {% include 'search/search.html.twig' %}

            <!-- Grid row -->
            <div class="row home-event-js" data-endpoint="{{ path('event_ajax_admin_rating') }}" data-value="{{ nb }}">


            </div>
            <!-- Grid row -->

            {% include 'home/paging.html.twig' %}

        </div>
    </div>

{% endblock %}
