
{% block body %}
    <!-- Section: Blog v.2 -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-4">
                    <img class="img-fluid" src="{% if event.picture != null %}{{ event.picture }} {% endif %}" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Category -->
                <!-- Post title -->
                <h4 class="font-weight-bold mb-3"><strong><a href="{{ path('event_profile', {'id':event.id}) }}">{{ event.title }}</a></strong></h4>
                <!-- Post data -->
                <p> du <a class="font-weight-bold">{{ event.startDate |date('d/m/Y') }} </a>à <a class="font-weight-bold">{{ event.startDate |date('H:m') }} </a></p>
                <p> au <a class="font-weight-bold">{{ event.endDate |date('d/m/Y') }} </a>à <a class="font-weight-bold">{{ event.endDate |date('H:m') }} </a> </p>

                <!-- Excerpt -->
                <p class="dark-grey-text block-ellipsis">{{ event.description|raw }}</p>
                <!-- Read more button -->
{% if vote == false %}
                <a class="btn btn-pink btn-rounded btn-md" href="{{ path('event_profile', {'id':event.id}) }}" style="margin-top: 10px; margin-bottom: 10px;">Voter</a>
{% else %}
    <strong>Vous avez déjà voté !</strong>
                {% endif %}
            </div>
            <!-- Grid column -->

{% endblock %}
